body {
    font-family: Arial, sans-serif;
    color: #181818;
    margin: 0px 200px;
}

header {
    background-color: rgb(129, 175, 194);
    font-family: Arial, sans-serif;
    color: white;
}

aside {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    width: 220px;
    height: 1800px;
    background-color: rgb(213, 227, 230);
    color : black;
}


.barreGaucheTitre{
    size:3px; 
    width:15%;
    color:rgb(129, 175, 194); 

}

#barreDroite{
    display: flex;
    flex-direction: column;
    text-align: justify;
    flex-wrap: wrap-reverse;
    margin-left: 220px;
    padding-left: 20px;
    background-color: rgb(222, 238, 241);
    color: black;

}
.barreGauche{

    color:black; 
}

#titre{
    width: 700px;
    height: 100px;
}
h1 {
    text-align: center;
    font-family: Lato;
    font-weight: normal;
    color: black;
}

h2 {
    text-align: center;
    font-family: Lato;
    font-weight: normal;
    color: black;
    font-size: 26px;
    margin: 0px;
}

h4 {
    font-family: Roboto;
    font-weight: normal;
    color: rgb(0, 0, 0);
    font-size: 17px;
    margin: 0px;
}
h5 {
    font-family: Lato;
    font-weight: normal;
    color: rgb(10, 10, 10);
    font-size: 15px;
    margin: 0px;
}
h6 {
    font-family: Lato;
    font-weight: normal;
    color: rgb(90, 90, 90);
    font-size: 15px;
    margin: 0px;
}
#pdpCV{
    align-self: end;
}


.bouton {
    background-color: #2574a8;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  .image{
      display: flex;
      justify-content: left;
  }
  .Menu {
    position: relative;
    display: inline-block;
  }
  
  .contenu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .contenu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .contenu a:hover {background-color:white;}
  
  .Menu:hover .contenu {display: block;}
  
  .Menu:hover .bouton {background-color: #1f5281;}

      .sliderImg {
        width: 500px;
        height: 300px;
        background-color: rgb(213, 227, 230);
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        text-align: center;
        overflow: hidden;
      }
      .img-cont {
        width: 1500px;
        background-color: #1f5281;
        height: 300px;
        clear: both;
        position: relative;
        -webkit-transition: left 2s;
        -moz-transition: left 2s;
        -o-transition: left 2s;
        transition: left 2s;
      }
      .maSlide {
        float: left;
        margin: 0px;
        padding: 0px;
        position: relative;
      }
      #slide_1:target ~ .img-cont {
        left: 0px;
      }
      #slide_2:target ~ .img-cont {
        left: -500px;
      }
      #slide_3:target ~ .img-cont {
        left: -1000px;
      }
      .boutton {
        position: relative;
        top: -20px;
      }
      .boutton a {
        display: inline-block;
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background-color: rgb(213, 227, 230);
      }
